XWEATHER_CLIENT_ID=your_client_id
XWEATHER_CLIENT_SECRET=your_client_secret
XWEATHER_LOCATION=hopkinsville,ky
XWEATHER_RADIUS=10mi
XWEATHER_LIMIT=100
LIGHTNING_COUNTDOWN_MINUTES=30
XWEATHER_POLL_SECONDS=120
PORT=3000
